{% extends "base.html" %}

{% block body %}
<div class="columns">
	<div class="column is-9">
{% for post in posts %}
		<div class="card" id="post-{{ loop.index }}">
			<div class="card-content">
				<h3 class="title is-3">{{ post.title }}</h3>
				<h5 class="subtitle is-5">
					{{ post.date.strftime("%Y-%m-%d %H:%M") }}
{% for tag in post.tags %}
					<span class="tag">{{ tags[tag].name }}</span>
{% endfor %}
				</h5>
				<p class="content">{{ post.content }}</p>
			</div>
		</div>
{% endfor %}
	</div>
	<div class="column">
		<!-- placeholder, eventually archive?-->
		<div class="card">
			<div class="card-content">
				{% autoescape false %}
				{{ config.SIDEBAR_HTML }}
				{% endautoescape %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
