/* vim:set et sw=2 ts=2 foldmethod=marker: */

/*
 * {{{ Sticky footer
 */

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0px;
  padding-bottom: calc(25vh + 16px);
  min-height: 100%;
}

footer.footer {
  position: absolute;
  bottom: 0px;
  max-height: 25vh;
  width: 100%;
}

/*
 * }}}
 */

/*
 * {{{ Vue v-for hider
 */

.tag {
  display: none;
}

/*
 * }}}
 */

div.card {
  margin-bottom: 16px;
}

div.card:last-type {
  margin-bottom: 0px;
}
